<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TweetSafe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>813F9A791DF335B7008655CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>813F9A8D1DF335B7008655CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>813F9A981DF335B7008655CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
